@page "/"

<PageTitle>Home</PageTitle>



<section class="d-flex flex-column align-items-center gap-4">
    <div class="w-100 m-3 bg-white rounded-2 text-center">
        <h1>Welcome to VocabHelper</h1>
    </div>

    <div class=" w-100 m-3 d-flex flex-column align-items-center bg-white rounded-2 gap-5">
        <h2 class="m-5">Start Building Your Vocabulary in Languages Like:</h2>
        <div class="w-75 m-5 d-flex justify-content-center">
            <div class="h-100 d-flex flex-column align-items-center ">
                <img class="flag" src="Images/kenya-162332_640.png">
                <p>Swahili</p>
            </div>

            <div class="h-100 d-flex flex-column align-items-center">
                <img class="flag" src="Images/egypt-162284_640.png">
                <p>Arabic</p>
            </div>

            <div class="h-100 d-flex flex-column align-items-center">
                <img class="flag" src="Images/france-28463_640.png">
                <p>French</p>
            </div>
        </div>
        <button class="btn btn-primary mb-4"> Get Started! </button>
    </div>

    

</section>